@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif !important;
}
html,body{
    overflow-x: hidden;
}
@media only screen and (max-width: 600px) {

    #hero h1 {
        font-size: medium;
    }
    #buttet{
        margin-top: 10px;
    }
}
.custom-div {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

#tooltip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(70, 70, 70, 0.4);
    padding: 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
#thumb{
    color: white;
}
#liketext{
    color: white;
}

#hero {

    margin-top: 100px;
}

#herobg {
    margin-top: -2%;
}

#hero p {
    font-weight: 500;
}

#hero h1 span {
    color: #9f8bcc;
}

#hero button {
    width: 50%;
    background-color: #9f8bcc;
    color: #212529;
    font-weight: 500;
}

#hero button:hover {
    background-color: #8b79b2;
}

#signup {
    font-weight: 500;
    background-color: #9f8bcc;
    border: #9f8bcc;
    color: #212529;
}

#signup:hover {
    color: aliceblue;
    background-color: #8b79b2;
}

#close {
    border-radius: 25px;
    border: #212529;
}

#hero h1 {
    color: #212529;
    font-size: 350%;
    font-weight: 700;
}

#category button:hover {
    font-weight: 500;
}
#search{
    background-color: #9f8bcc;
    color: aliceblue;
}
.suggestion-item {
    cursor: pointer;
    background-color: #f8f9fa; /* Light gray background color */
  }
  
  .suggestion-item:hover {
    background-color: #e9ecef; /* Lighter gray background color on hover */
  }

  form{
    position: relative;
    width: 200px;
}

form input {
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
}

form input:placeholder-shown + button{
  opacity: 0;
  pointer-events: none;
} 

form button {
    position: absolute;
    border: none;
    display: block;
    width: 15px;
    height: 15px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    background: #ddd;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: .1s;
}